* {
    box-sizing: border-box;
}

.wp{
    position: fixed;
    bottom: 80px;
    right: 90px;
    width: 70px;
}
.carousel-item{
   width: 95%;
   height: 30%;
   bottom: 25px;
   margin-left: 2%;
}

div{
    h6{
    padding: 1%;
    color: black;
    font-size: larger;
    background-color: rgb(175, 170, 165);
    text-align: center;
    border-style: groove;
    margin-top: 1%;
    }
}

article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1px;
    img{
        width: 270px;
        height: 280px;
        position: relative;
        margin: auto;
        padding-bottom: 2%;
    }
}

@media screen and (max-width: 800px){
    article{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1px;
        img{
            width: 330px;
            height: 280px;
            position: relative;
            margin: auto;
            padding-bottom: 2%;
        }
    }    
}

@media screen and (max-width: 800px){
    .imagenMobile{
        width: 100%;
        
    }    
}
@media screen and (min-width: 800px){
    .imagenMobile{
        position: relative;
        padding-top: 24%;        
    }    
}
section{
    &.reciclarTitulo{
        p{
            padding-top: 2%;
            text-align: justify;
            margin-right: 2%;
            margin-left: 1%;
            }
    }
}

div{
    div{
        h4{
            text-align: center;
            background-color: tan;
        }
    }
}
section{
    &.GcEstilo{
        div{
            img{
                position: relative;
                width: 100%;
                height: auto;
            }
            a{
                position: absolute;
                width: 7%;
                left: 80%;
                height: 19%;
            }
        }
    }
}
section{
    div{
        &.flexRegalosGC{
            display: flex;
            flex-direction: row;
            justify-content: center;
            flex-wrap: wrap;
            padding-bottom: 5%;
            padding-top: 15%;
            width: 100%;
            
        }
        ul{
           &.imagenGiftCard{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: center;
                width: 27%;
                height: auto;
                list-style: none;
            }
        }
    }
}
.comprarGC{
    border-style: double;
    border-style: outset;
    width: 23%;
    margin-left: 40%;
    text-align: center;
}
/* map-get */
$colores:(
    principal: red,
    base: rgb(169, 241, 169),
    fondo: rgb(229, 229, 241),
);

.colores-footer{
    background: map-get($colores, fondo);
}
.detalleEmpresa{
    background-color: rgb(224, 246, 196);
    color: rgb(65, 65, 65);
    padding: 4%;
    text-align: left;
}

/* EXTEND */
.bordeMes{
    padding: 2%;
    margin-top: 4%;
    color: white;
    text-align: center;
    background-color: rgb(253, 175, 175);
    font-size: 27px;
}
.bordeMes-cambio{
    @extend .bordeMes;
    background-color: rgb(143, 142, 144);
    font-family: sans-serif;
    color: black;
}
/* MIXIN */
@mixin boton {
    display: inline-block;
    border: 1px solid black;   
}
.boton--cambio{
    @include boton;
    background-color: #dedff0;
    color: black;
}
.grid-datos{
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
    margin: 3%;
    text-align: center;
}
@media screen and (min-width: 501px){
    .grid-datos{
        grid-template-columns: 1fr 1fr 1fr;
    }    
}

.grid-sucu{
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
    margin: 3%;
    text-align: center;
}
@media screen and (min-width: 501px){
    .grid-sucu{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    }    
}
div{
    h3{
        text-align: center;
        font-family: sans-serif;
    }
}
.imgPromo{
    width: 110%;
    margin-left: -3%;
}
.banerPpal{
    width: 100%;
    padding-top: 4%;
    padding-bottom: 1%;
}
.bodegas{
    width: 128px;
}
.grid-bod{
    display: grid;
    grid-template-columns: auto;
    gap: 15px;
    margin: 3%;
    text-align: center;
}
@media screen and (min-width: 501px){
    .grid-bod{
        grid-template-columns: 1fr 1fr 1fr ;

    }    
}
.fondo{
    background-color: antiquewhite;
}
.form-login{
    width: 350px;
    height: 310px;
    background-color: rgb(119, 115, 109);
    margin: auto;
    margin-top: 10px;
    box-shadow: 7px 13px 37px #000;
    padding: 10px 30px;
    color: white;
}
.form-login h6{
    margin: 0;
    text-align: center;
    height: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
.control{
    width: 100%;
    border: 1px solid #017bab ;
    margin-bottom: 15px;
    padding: 5px 10px;
    background: #252323;
    font-size: 14px;
    font-weight: bold;
    color: white;
}
.boton{
    width: 100%;
    height: 40px;
    background: #017bab;
    border: none;
    color: white;
    margin-bottom: 16px;
}
.form-login p{
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}
.form-login a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.form-login a:hover{
    text-decoration: underline;
}
/* Ocultar botón radio */
input[id^="spoiler"]{
    display: none;
    }
    /* Estilo botón clicable */
    input[id^="spoiler"] + label {
    display: block;
    width: 200px;
    margin: 0 auto;
    padding: 5px 20px;
    background: rgb(238, 185, 218);
    cursor: pointer;
    }
    /* Estilo botón cuando su INPUT está seleccionado */
    input[id^="spoiler"]:checked + label {
    color: #333;
    background: #ccc;
    }
    /* Estilo caja SPOILER (inicialmente oculto) */
    input[id^="spoiler"] ~ .spoiler {
    width: 90%;
    height: 0;
    overflow: hidden;
    opacity: 0;
    margin: 10px auto 0;
    }
    /* Estilo caja SPOILER cuando su INPUT está seleccionado */
    input[id^="spoiler"]:checked + label + .spoiler{
    height: auto;
    opacity: 1;
    }
    